
EncapsProg/bin/com/util/myDate.class
EncapsProg/bin/com/main/Entry.class
EncapsProg/.classpath
EncapsProg/.project
EncapsProg/.settings/org.eclipse.core.resources.prefs
EncapsProg/.settings/org.eclipse.jdt.core.prefs
